.fc .fc-toolbar-title,
.fc .fc-daygrid-day-top {
    text-transform: capitalize; 
}
.fc .fc-col-header-cell {
    text-transform: capitalize; 
}
.fc .fc-daygrid-day-number {
    font-weight: medium;
    position: absolute; 
    top: 0; 
    left: 0; 
}
.fc-prev-button, .fc-next-button {
    background-color: transparent !important; 
    border: none !important; 
    color: #000000 !important; 
    font-size: 1.5rem !important; 
    padding: 0 !important; 
}
.fc-daygrid-day {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    position: relative; 
}
.fc-day-today {
    background-color: transparent !important; 
}
.fc-day-today .fc-daygrid-day-number {
    background-color: #00438a; 
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%; 
    padding: 1px 0px 1px 8px; 
    box-sizing: border-box; 
}
.fc-daygrid-day-top {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-bottom: 25px !important;
}

.fc-daygrid-day-events {
    margin-left: 2px !important;
    margin-right: 2px !important;
    font-weight: normal !important;
}

.fc-event {
    cursor: pointer; 
  }

@media (max-width: 768px) {
    .fc-daygrid-day {
        width: auto; 
        height: auto; 
        max-width: none; 
        max-height: none; 
    }

    .fc-daygrid-day-number {
        font-size: 0.8rem; 
    }

    .fc .fc-toolbar-title {
        font-size: 1rem;
    }

    .fc-prev-button, .fc-next-button {
        font-size: 1rem; 
    }

    .fc-daygrid-day-top {
        margin-bottom: 15px !important; 
    }

    .fc-daygrid-day-events {
        margin-left: 1px !important;
        margin-right: 1px !important;
        font-size: 0.9rem !important; 
    }
}